.dropdown {
    margin-left: 10px;
    position: relative;
    display: flex;
  }
  
  .dropdown-toggle {
    position: relative;
    display: block;
    background-color: #bbd;
    border-style: none;
    padding: 10px;
    cursor: pointer;
    width: 20%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 10px;
    height: 100px;
    transition: left 1s;
    z-index: 2;
  }

  .arrow-img {
    width: 10px;
    height: auto;
  }
  
  .arrow {
    transform: rotate(-90deg);
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: transform 0.3s;
  }
  
  .arrow.open {
    transform: rotate(90deg);
  }
  
  .dropdown-list {
    position: relative;
    background-color: rgb(80, 67, 88);
    list-style: none;
    margin: 0;
    width: 0;
    left:-50%;


    height: 100px;
    display: inline;
    overflow: hidden;
    transition: width 1s, left 0.3s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 10px;
    z-index: 1;
  }

  .dropdown-list li {
    display: inline;
    line-height: 100px;
  }

  .dropdown-list.open {
    display: block;
    top: 0;
    left: 0;
    width: 76%;
  }
  
  .dropdown-list li {
    padding: 5px;
  }



  h1 {
    color: #000;
    font-weight: lighter;
  }
  
